body{
   background-image: url(image/back-ground.jpg);
   background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    color:blanchedalmond;
}

img{
    width: 200px;
    height: 300px;
    border-radius: 10%;
}

h0{
    font-size: 35px;
    margin-left: 18%;
    margin-bottom: 10%;
    font-family: 'Bad Script', cursive;
    font-style: oblique;
    color: white;
    box-sizing: content-box;
}

